.adminTitle {
	width: 810px;
	height: 22px;
	padding: 9px 20px;
	overflow: hidden;
	margin: 0px;
	font-family: Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #EEE;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
}

.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.sortable li {
	position: relative;
	background-color: #f2f2f2;
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	padding-bottom: 20px;
	font-size: 12px;
	border: 1px solid #ccc;
	overflow: auto;
}

.sortable li span {
	
}

.deleteButton {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url(images/delete.png);
}