﻿.sidebarMenu hr{
	width:310px;
	color:#f2f2f2;
}﻿

.sidebarMenu .sidebarPostInfo, .sidebarMenu .sidebarPostInfo a{
	float:left;
	overflow:hidden;

}

.sidebarMenu .sidebarDate, .sidebarMenu .sidebarDate a{
	float:left;
}

.bubble{
	float:left;
	top:25px;
}

.sidebarMenu h4 {
	margin-bottom:-20px;
}

.month{
	top:11px;
}

#menuContainer,#menu, #navigationContainer{
	position:relative;
	z-index:2;
}

#menu ul li ul{
	 top:41px;  
}

#menu ul li ul li a {
	padding-bottom:0px;
}

.postBoxs hr{
	margin-top:0px;
}

#navButtons{
margin-top:30px;
}

.sidebarPortfolio a img{
	margin-top:5px;
}

/*-----------------UPDATES----------------*/

/*-----------------VERSION 1.1. -----------------*/

#commentContentContainer ul.children li{
	padding-left:20px;
	padding-top:20px;
}

