a{
	color:#999999;
}
h1, h2, h3, h4, h5, h6 {
	color:#50849d;
	text-shadow:1px 1px #fff;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#50849d;
}

h1 a:hover{
	color:#222;
}

hr {
	background-color:#95c6de;
	border:#95c6de;
	height:1px;
	border-color:#95c6de;
}

div.hr1, div.hr2, div.hr3, div.hr4, div.hr5, div.hr6{
  height: 1px;
  background-color:#95c6de;
  
  
}

body {
	color:#5a5a5a;
	background-color:#f4f8f9;	
	text-shadow:1px 1px #fff;
}

#mainContainer{
	background-image:url(images/paper_bg.jpg);
}

#lineTop{
	height:5px;
	background-color:#5695b4;
	border-bottom:1px solid #FFFFFF;
	background-image:none;
	
}

#logoContainer a{

	background-image:url(images/logo_paper.png);

}

#menu ul li a{
	color:#50849d;
	
}

#menu ul li a:hover{
    color:#95c6de;
}

#menu ul li.selected a{
	color:#95c6de;
}


#menu ul li ul{
	top:29px; 
    background-image:url(images/paper_bg.jpg);
	border:1px solid #95c6de;
	background-color:transparent;
	border-top:0px;

}


#menu ul li ul li{

	background-color:transparent;  

}

#menu ul li ul li a {

	background-color:transparent;  

}

#menu ul li.selected ul li a{
	font-weight:normal;
	background-color:transparent;  
}

#menu ul li ul li.selected  a{
	font-weight:bold;
}

#menu ul li.selected ul li a:hover{
	color:#95c6de;
}



.fadeWrapper{

	background-color:#fafafa;
	border:1px solid #95c6de;		

}

.sliderContainer{

	background-color:#fafafa;
	border:1px solid #95c6de;
}

div.wrapper {

	border:1px solid #fff;

}

#topText p{

	color:#50849d;

	
}


.date{
	background-image:url(images/date_bg_paper.png);

}

.date h1{
	color:#717171;
	text-shadow:none;
}

.date h3{
	color:#717171;
	text-shadow:none;

}

.month{
	color:#717171;

}

.sidebarTitile{

	background-image:url(images/sidebar_title_paper.png);

}
.sidebarBox h2{
	color:#1c4c63;
	text-shadow:none;
	}
	
	#sidebar{
	background-color:#FFFFFF;
	border:1px solid #eaeaea;
}


.sidebarMenu hr{
	margin-left:-30px;
	border:0px;
	border-bottom-width:1px solid #f2f2f2;
	background-color:#f2f2f2;
	border:#f2f2f2;
	height:1px;
}

.bubble{

	background-image:url(images/bubble_paper.jpg);

}

.sidebarMenu ul li a{

	color:#50849d;

}

.sidebarMenu ul li a:hover{
	color:#515151;
}

#footer{

	background-color:#eff6f6;
	border-top:1px solid #c2deeb;;
}

#footer p{
	color:#1c4c63;

}

#footerMenu ul{
	color:#1c4c63;
}


#footerMenu ul li a{
	color:#1c4c63;

}

#footerMenu ul li a:hover{
	color:#1c4c63;
}

.postImg , #portfolio img, .servicesImg, .borderImg{
	background-color:#fafafa;
	border:1px solid #a7cfe3;	
}

.leftBundle{
	width:24px;
	height:41px;
	background-image:url(images/bundle_left_paper.png);
	position:absolute;
	top:0px;
	left:-18px;
}

.rightBundle{
	width:26px;
	height:46px;
	background-image:url(images/bundle_right_paper.png);
	position:absolute;
	top:0px;
	right:-18px;
}

#portfolioCategories{
	background-image:url(images/bundle_bg_paper.png);
	color:#242520;
	text-shadow:none;
		height:37px;

}


.featuredTitleContainer{
	color:#7eabc0;
}

#searchButton{
	background-color: #e8f3f7;
	border-color: #95c6de;
	color:#95c6de;
}

#searchInput{
	background-color: #f3f9f9;
	border-color: #cee5f0;
}

.input{
	background-color: #fff;
	border-color: #cee5f0;
}

/*----------------------------TABLES---------------------*/

table
{
	border-color:#95c6de;
}

td
{
	border-color: #95c6de;
	background-color: #fff;
}

td#today{
	background-color: #f3f9f9;
}

th
{
	border-color:#95c6de;
	background-color: #f3f9f9;
}

/*-----------------UPDATES----------------*/

/*-----------------VERSION 1.1. -----------------*/

.borderImg{
	padding:0px;
	border-width:0px;
	background-color: transparent;
}

.borderImg img, img.borderImg, .attachment-post-thumbnail{
	background-color:#fafafa;
	border:1px solid #a7cfe3;	
}
