
h1, h2, h3, h4, h5, h6 {
	text-shadow:1px 1px #f6f3ec;
}

body {
	background-color:transparent;	
		text-shadow:1px 1px #f6f3ec;

}

#mainContainer{

	background-image:url(images/site_bg.jpg);
	overflow:hidden;
}

#logoContainer a{
	background-image: url(images/logo.png);
}

#lineTop{
	background-color:transparent;
	border-bottom:1px solid #FFFFFF;
	background-image:url(images/line_top.jpg);
}

div.hr1 {
  height: 1px;
  background:url(images/hr1.jpg) repeat-x scroll center;
}
div.hr1 hr {
  display: none;
}

div.hr2 {
  height: 1px;
  background:url(images/hr2.jpg) repeat-x scroll center;
}
div.hr2 hr {
  display: none;
}

div.hr3 {
  height: 1px;
  background:url(images/hr3.jpg) repeat-x scroll center;
}
div.hr3 hr {
  display: none;
}


div.hr4 {
  height: 1px;
  background:url(images/hr4.jpg) repeat-x scroll center;
}
div.hr4 hr {
  display: none;
}


div.hr5 {
  height: 1px;
  margin-top:20px;
  background:url(images/hr4.jpg) repeat-x scroll center;
}
div.hr5 hr {
  display: none;
}

div.hr6 {
  height: 1px;
  margin-top:20px;
  background:url(images/hr4.jpg) repeat-x scroll center;
}
div.hr6 hr {
  display: none;
}



#menu ul li ul{ 
	 top:28px;  
     /*background-color:#e7e0d7;  */
	 background-image:url(images/menu_bg.jpg);
	 	 border:1px solid #9d938a;
		 	 border-top:0px;
}

#menu ul li ul li a {

	/*background-color:#e7e0d7;  */
	background-color:transparent;

}


.date{
	background-image:url(images/gr_date_bg.jpg);

}

.date h1{
	color:#FFFFFF;
	text-shadow:none;
}

.date h3{
	color:#fff;
	text-shadow:none;

}

.month{
	color:#fff;

}

.sidebarTitile{

	background-image:url(images/gr_sidebar_title.png);

}
.sidebarBox h2{
	color:#FFFFFF;
	text-shadow:none;
}
	
#searchButton{
	background-color: #767575;
	border-color:#535353;
}	
	
#footer{

	background-color:#e4dbcf;
	border-top:1px solid #cfc5b7;
}



.leftBundle{
	width:24px;
	height:42px;
	background-image:url(images/bundle_left_gr.jpg);
	position:absolute;
	top:0px;
	left:-18px;
}

.rightBundle{
	width:22px;
	height:42px;
	background-image:url(images/bundle_right_gr.jpg);
	position:absolute;
	top:0px;
	right:-18px;
}

#portfolioCategories{
	background-image:url(images/bundle_bg_gr.jpg);
	color:#fff;
	text-shadow:none;
		height:37px;

}

#portfolioCategories ul li a{
	color:#fff;
}

#portfolioCategories ul li a:hover{
	color:#e1e1e1;
}

#navButtonLeft a{
	background-image:url(images/arrow_left_gr.jpg);
	height:24px;

}

#navButtonRight  a{
	background-image:url(images/arrow_right_gr.jpg);
	height:24px;
}


#navButtonLeft a:hover {
	background-position: 0px 23px;
}

#navButtonRight a:hover {
	background-position:0px 23px;
}


/*----------------------------TABLES---------------------*/


table{
	border:1px solid #999;
}

td
{
	border:1px solid #999;
}

th
{
	border:1px solid #999;
	background-color: #9bb0ab;
	background-image:url(images/table_bg.jpg);
	text-shadow:none;
	color:#fff;
}


.adminRibbon{
	background-image: url(images/admin_g.png);
	right:-7px;
}
