/* @override http://angelabern.com/wp-content/themes/PaperCore/style.css */

/* @override http://angelabern.com/wp-content/themes/PaperCore/style.css */

/*
Theme Name: The PaperCore
Description: A simple and clean theme. 
Author: Pexeto
Tags: clean, business, professional, jquery slider, AJAX contact form
Author URI: http://pexeto.com/
*/



/* ----------- Restart-----------------*/


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

a { 
	outline: 0; 
}



/* ----------- End Restart-----------------*/

/*---------------------------- TEXT STYLES ----------------------------*/

a{
	text-decoration:underline;
	color:#999999;
}


h1, h2, h3, h4, h5, h6 {
	font-family: Cochin, Georgia, "Times New Roman", Times, serif;
	padding-bottom:15px;
	padding-top:25px;	
	color:#222;
	text-shadow:1px 1px #fff;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#222;
	text-decoration: none;
}

h1 a:hover, h2 a:hover{
	color:#515151;
}


h1 {
	font-size:36px;
}
h2 {
	font-size:30px;
	color: #883021;	
	margin-bottom: 0;
	padding-bottom: 0;
}
#content h2 {
	clear: left;
}

h3 {
	font-size:24px;
}
#content h3 {
	color: #883021;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: -5px;
	padding-bottom: 0;
	font-style: italic;
	clear: left;
}

h4 {
	font-size:17px;
	font-weight:bold;
}

h5 {
	font-size:16px;
	font-weight:bold;
}


h6 {
	font-size:15px;
	font-weight:bold;
}


hr {
	background-color:#c6c6c6;
	border:#c6c6c6;
	height:1px;
}

p{
	margin-bottom:15px;
	margin-top:15px;
	font-size: 0.9em;
	line-height: 150%;	
	text-shadow: none;
}

p.highlight {
	font-size: 120%;
	color: #883021;
	line-height: 125%;
	border-bottom: 1px solid #883021;
	padding-bottom: 20px;
}

ul{
	list-style:disc;
	margin-left:30px;
}

ol{
	margin-left:35px;
}

strong{
	font-weight:bold;
}

em{
	font-style:italic;
}


.alignleft{
	float:left;
	margin-right: 25px;
	margin-bottom: 25px;
	margin-top: -15px;
}

.alignright{
	float:right;
}

hr{
	border-style:solid;
	border-width:1px;
	border-bottom-width:0px;
	border-color:#c6c6c6;
}


div.hr1 {
  height: 1px;
  background-color:#c6c6c6;
}
div.hr1 hr {
  display: none;
}

div.hr2 {
  height: 1px;
  background-color:#c6c6c6;;
}
div.hr2 hr {
  display: none;
}

div.hr3 {
  height: 1px;
    background-color:#c6c6c6;
}
div.hr3 hr {
  display: none;
}


div.hr4 {
  height: 1px;
    background-color:#c6c6c6;;
}
div.hr4 hr {
  display: none;
}


div.hr5 {
  height: 1px;
  margin-top:20px;
   background-color:#c6c6c6;;
}
div.hr5 hr {
  display: none;
}

div.hr6 {
  height: 1px;
  margin-top:20px;
   background-color:#c6c6c6;
}
div.hr6 hr {
  display: none;
}




/*---------------------------- END TEXT STYLES ----------------------------*/



body {
	font-family: Cochin, Georgia, "Times New Roman", Times, serif;
	font-size:17px;
	color:#222222;
	font-weight:300;
	line-height:1.5em;
	background-color:#f3f3f3;	
	text-shadow:1px 1px #fff;
}

#mainContainer{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	background-color:#f3f3f3;
	overflow:hidden;
}

#lineTop{
	height:5px;
	background-color:#1e1e1e;
	border-bottom:1px solid #FFFFFF;
}

.center{
	height:auto;
	width:960px;
	margin:auto;
	text-align:left;
	padding:0px;
	position:relative;

}


/*---------------------------- LOGO ----------------------------*/


#logoContainer{
	height:125px;
	width:960px;
	float:left;
}



#logoContainer a{
	width:300px;
	height:91px;
	display:block;
	background-repeat:no-repeat;
	position:relative;
	top:20px;
	margin:auto;
	background-image: url(images/logo.jpg);
}



/*-------------------------MENU---------------------------------*/



#navigationContainer{
	height:41px;
	width:960px;
	float:left;
	z-index:-100;
}

#menu{
	height:21px;
	margin:auto;
	padding-top:19px;
	width:960px;
}

#menu ul{
	margin:auto;
	text-align:center;
	margin:auto;
	display:block;
	height:20px;
}


#menu ul li{ 
    display: inline;
}

#menu ul li a{
	text-transform:uppercase;
	padding-right:15px;
	padding-left:15px;
	font-size:16px;
	line-height:0.2em;
	color:#222222;
	height:30px;
	text-decoration: none;
}

#menu ul li a:hover{
    color:#656565;
}

#menu ul li.selected a{
	color:#222222;
}


/*------------------DROP DOWN MENU------------------------*/



#menu ul li ul{
     position:absolute;
     left:0px; 
	 top:29px;  
     background-color:#f3f3f3;  
     margin:0;
	 padding:0;
	 padding-top:0px;
     float:left;  
     width:130px;  
	 border:1px solid #ccc;
	 border-top:0px;
	 z-index:100;
	 height:auto;
	 visibility:hidden;
	 text-align:left;
	 padding-left:15px;
	 padding-right:15px;
}

#menu ul li ul li{
    margin:0px;
	padding:0px;	
	display:block;
	position:relative;
	height:40px;
}


#menu ul li ul li a {
	float:left;
	width:130px;
	border-width:0px;
	background-color:#f3f3f3;  
	line-height:2.5em;
	margin:0px;
	padding:0px;
	font-size:13px;
	padding-bottom:5px;
	text-transform:uppercase;
	font-weight:normal;
	height:auto;
}

#menu ul li.selected ul li a{
	font-weight:normal;
}

#menu ul li ul li.selected  a{
	color:#222;
}

#menu ul li ul li ul{
	border:1px solid #ccc;
	position:absolute;
	top:0px;
	left:145px;
}

#menu ul li.selected ul li a:hover{
    color:#656565;
}

/*---------------------------HEADER----------------------------*/

#header{
	width:960px;
	height:400px;
	float:left;
	position:relative;
	top:25px;

}

/*------------------------------SLIDER-----------------------------*/

.fadeWrapper{
	background-color:#FFFFFF;
	border:1px solid #c6c6c6;		
	position:relative;
	width:934px;
	height:350px;
	padding:12px;
	overflow: hidden;
}

.fadeHolder{
	width:954px;
	height:345px;
	position:absolute;
	top:12px;
	left:12px;
}

.imageHolder{
	width:936px;
	height:350px;
	position:absolute;

}

.sliderContainer{
	width:935px;
	height:347px;
	background-color:#f2f2f1;
	padding:5px;
	border:1px solid #c1c1c1;
}

div.wrapper {
	position: relative;
	top:0px;
	left:0px;
	width:932px;
	height:348px;
	padding:0px;
	overflow:hidden;
	border:1px solid grey;
	text-align:center;
}

ul.wrapper  {
    display: block;
    padding:0px;
    margin: 0px;
    list-style: none;
}

.wrapper li {
    display: block;
    float: left;
    padding: 0;
}

.imageHolder {
	float:left;
	display:inline;
	text-align:center;
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
}

.black{
	width:700px;
	height:348px;
	background-image:url(images/shadow.png);
	background-repeat:repeat-y;
	position:absolute;
	top:0px;
	left:0px;
	z-index:30;
	background-color:transparent;
}

.imgInfo{
	background-image:url(images/trans.png);
	width:690px;
	height:auto;
	z-index:99;
	position:absolute;
	bottom:-150px;
	left:-10px;
	padding-left:20px;
	padding-top: 10px;
	color: #fff;
	text-align:left;
	font-size:13px;
	padding-bottom:10px;
	text-shadow:none;
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
	padding-right:10px;
	border-left: 10px solid #631f1c;
}

.imgInfo h3{
	text-shadow:none;
	color:#fff;
	padding-top:5px;
	padding-bottom:5px;
}

.imgInfo p{
	margin:0px;
	line-height: 1.5em;
	padding-bottom: 10px;
}

.imgInfo h3 a{
	color:#fff;
}

.imgInfo h3 a:hover{
	color:#fff;
	text-decoration: none;
}

/*------------------------------END SLIDER------------------------------*/

/*---------------------------- CONTENT ----------------------------*/

#contentContainer{
	margin-top:40px;
	position:relative;
	min-height:500px;
	width:960px;
	float:left;
	height:auto;
	padding-bottom:30px;
}

#topText{
	width:960px;
	margin-top:25px;
	position:relative;
	float:left;
	
}

#topText p{
	font-size:22px;
	text-align: center;
	line-height:1.2em;
	color: #883021;
	letter-spacing:1px;
	margin-top:12px;
	margin-bottom:12px;
	font-family: Cochin, Georgia, "Times New Roman", Times, serif;
	font-style: italic;	
}

#content{
	height:auto;
	width:570px;
	float:left;
	padding-right:30px;
	margin-top:-20px;
	padding-left: 30px;
}

#content p a {
	color: #883021;
	text-decoration: none;
	font-weight: bold;
}

#content p a:hover {
	text-decoration: underline;
}

#content h2+hr{
	margin-bottom:20px;
}

#pageContent{
	padding-top:11px;
}

#gallery p {
	background: #f6f6f6;
	margin: 5px;
	padding: 8px;
	line-height: 150%;
	font-size: 0.9em;
}
#gallery h3 {
	margin-bottom: 10px;
	padding-top: 30px;
}

.featuredTitleContainer{
	color:#959595;
	text-transform:uppercase;
	text-align:center;
	margin-top:30px;
	margin-bottom:40px;
}

.smallSubtitle{
	color:#999999;
	font-size:14px;
	margin-top:0px;
}

/*-------------------BLOG CONTENT------------------*/

.postBoxs{
	margin-top:-15px;
	margin-left:-3px;
}

.postBoxs hr{
	margin-top:40px;
	border-width:0px;
	border-bottom-width:0px;
	border-color:#bfbfbf;
	background-color:#bfbfbf;
	color:#bfbfbf;
}

.postBox{

	margin-bottom:19px;
	margin-top:30px;
	overflow:hidden;
}

.postBox h1{
	padding-bottom:5px;
	padding-top:5px;
}

.postBox h1 a{
	text-decoration:none;
}

.date{
	text-transform:uppercase;
	color:#ef9100;
	width:63px;
	height:76px;
	background-image:url(images/date_bg.jpg);
	float:left;
	margin-top:0px;
	position:relative;
}

.date h1{
	padding-top:10px;
	padding-bottom:0px;
	padding-left:10px;
	font-size:25px;
}

.date h3{
	padding-top:0px;
	margin-top: -3px;
	padding-bottom:0px;
	padding-left:12px;
	color:#999999;
	position:relative;
	top:-3px;
	font-size:16px !important;
	font-style: normal !important;
}

.month{
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	display:block;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	writing-mode: tb-rl;
	filter: flipV flipH;
	color:#222;
	font-family:Arial, Helvetica, sans-serif;
	position:absolute;
	top:9px;
	right:10px;
	font-size:11px;
	text-shadow:none;
}

.info{
	width:100%;
	min-height:80px;
	display:block;
	margin-bottom:20px;
}


.postInfo{
	font-size:13px;
	color:#999999;
	margin-bottom:15px;
	float:left;
	text-transform:uppercase;
	width:500px;
}

.postInfo a{
	color:#999999;
	text-decoration:none;
}

.postContent{
	display:block;
}



.moreLink{
	color:#999999;;
	text-decoration:none;
}

.moreLink:hover{
	text-decoration:underline;
}

.postImg{
	float:left;
	padding:4px;
	background-color:#FFFFFF;
	border:1px solid #d6d6d6;
	margin-right:20px;	
}

.postImg+p{
	margin-top:0px;
}

.postBoxContent h1{
	margin-bottom:20px;	
}

.pageBoxInside h2{
	padding:0px;	
}

/*-------------------PORTFOLIO CONTENT----------------*/

#portfolio{
	width:990px;
	height:auto;
	margin-left:-15px;
	margin-top:7px;
	padding:0px;
}

#portfolio img{
	float:left;
	padding:4px;
	background-color:#FFFFFF;
	border:1px solid #d6d6d6;
	height:auto;
}

.portfolioItem{
	height:200px;
	width:300px;
	position:relative;
	float:left;
	margin-right:15px;
	margin-left:15px;
	margin-bottom:30px;
	overflow:hidden;
}
.portfolioItemInfo{
	background-image:url(images/trans.png);
	width:280px;
	height:auto;
	z-index:99;
	position:absolute;
	bottom:-100px;
	left:5px;
	padding-left:10px;
	text-shadow:none;
	
}

.zeroHeight{
	height:0px;
}

p.infoTitle, p.infoTitle a{
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	margin-bottom:0px;
	text-decoration:none;
}
.portfolioItemInfo p{
	color:#FFFFFF;
	margin-top:0px;
	font-size:14px;
}

#navButtons{
	float:left;
}

#blogNavButtons{
	width:600px;
	margin-top:30px;
}

.navigation a{
	text-decoration: none;
}

.navigation a:hover{
	text-decoration: underline;
}

#portfolioNavButtons{
	margin-left:20px;
	width:960px;	
	float:left;
}

#navButtonLeft a{
    height:27px;
    width:33px;
	background-image:url(images/arrow_left.jpg);
	background-position:0 0;
	display:block;
	float:left;
}

#navButtonLeft a:hover {
	background-position: 0px 29px;
}


#navButtonRight  a{
   
    height:27px;
    width:33px;
	background-image:url(images/arrow_right.jpg);
	display:block;
	float:right;
	background-position:0 0;
}

#navButtonRight a:hover {
	background-position:0px 29px;
}

#navButtons{
	float:left;
	width:960px;
}


#portfolioCategories{
	margin-left:15px;
	margin-bottom:30px;
	margin-top:-10px;
	font-size:13px;
	background-image:url(images/bundle_bg.jpg);
	width:938px;
	height:39px;
	line-height:37px;
	padding-left:20px;
	color:#242520;
	text-transform:uppercase;
	position:relative;
}

#portfolioCategories ul{
	display:inline;
	margin-left:0px;
}

#portfolioCategories ul li{
	display:inline;
	list-style: none;
	padding-right:10px;
	padding-left: 10px;
	border-right:1px solid #ccc;
}

#portfolioCategories ul li a{
	font-weight: normal;
	text-decoration: none;
	color:#242520;
}

#portfolioCategories ul li a:hover{
	color:#2c2c2c; 
}

#portfolioCategories span{
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	text-transform:uppercase;
	font-weight: normal;
}

.leftBundle{
	width:24px;
	height:41px;
	background-image:url(images/bundle_left.jpg);
	position:absolute;
	top:0px;
	left:-18px;
}

.rightBundle{
	width:24px;
	height:41px;
	background-image:url(images/bundle_right.jpg);
	position:absolute;
	top:0px;
	right:-18px;
}

.video{
width:290px;
height:190px;
background-image:url(images/video.png);
position:absolute;
top:4px;
left:4px;
}

/*----------------SERVICES CONTENT---------------*/

.servicesBox{
	margin-top:25px;
	min-height:220px;
}

.servicesBoxs h2{
	padding-top:0px;
	padding-bottom:5px;
	text-transform:capitalize;
}

.servicesBoxs h2 a{
	text-decoration: none;	
}

.servicesBoxs hr{
	width:600px;
	margin-top:10px;
	float:right;
	margin-bottom:30px;
	border:0px;
	border-bottom-width:1px;
}

.servicesImg{
	float:left;
	padding:5px;
	background-color:#FFFFFF;
	border:1px solid #dadada;
	margin-right:20px;
}

.borderImg{
	padding:4px;
	background-color:#FFFFFF;
	border:1px solid #dadada;
}

.smallPostImg{
	float:left; 
	margin-right:10px; 
	border:1px solid #ccc;
	margin-top:4px;
}


/*-----------------------  SIDEBAR MENU  ---------------------------*/


#sidebar{
	width:310px;
	height:100%;
	float:right;
	background-color:#FFFFFF;
	border:1px solid #eaeaea;

}

.sidebarBox{
	margin-left:30px;
	width:272px;
	padding-top:11px;
	padding-right:20px;
}

.sidebarTitile{
	width:356px;
	height:50px;
	background-image:url(images/sidebar_title.jpg);
	margin-left:-55px;
	text-align:center;
}

.sidebarBox h2{
	font-style:italic;
	position:relative;
	top:-18px;
}

.sidebarMenu{
	margin-bottom:10px;
	padding-right:10px;
	padding-top:15px;
	padding-bottom:15px;
}

.sidebarMenu h4{
	padding-top:3px;
	padding-bottom:0px;
	padding-right:30px;
	font-weight:normal;
}

.sidebarMenu h4 a{
	text-decoration:none;
}

.sidebarMenu a:hover h4{
	color:#515151;
}

.sidebarPostInfo, .sidebarPostInfo a{
	padding-top:10px;
	padding-bottom:0px;
	color:#999999;
	display:inline;
	text-decoration:none;
	font-size: 16px;
}

.sidebarMenu hr{
	margin-left:-30px;
	border:0px;
	border-bottom-width:1px solid #f2f2f2;
	background-color:#f2f2f2;
	border:#f2f2f2;
	height:1px;
}

.bubble{
	width:24px;
	height:17px;
	background-image:url(images/bubble.jpg);
	background-repeat:no-repeat;
	display:inline-table;
	position:relative;
	top:5px;
	margin-left:3px;
	margin-right:3px;
}

.sidebarMenu ul{ 	
	text-decoration: none;
	font-weight:300;
	margin-left:0px;
	list-style:none;
	margin-left:-30px;
	margin-right:-15px;
}

.sidebarMenu ul li ul{
	padding-top:0px;
	padding-left:15px;
}

.sidebarMenu ul li ul li{
	border:0px;
	list-style-image: url(images/bullet.png);
	padding-left:0px;
	margin-left:50px;
}

.sidebarMenu ul li{
	border-bottom:1px solid #f2f2f2;
	padding-left:30px;
	padding-top:6px;
	padding-bottom:6px;
	padding-right:20px;
}

.sidebarMenu ul li a{
	display:block;
	height:20px;
	width:275px;
	color:#222;
	padding-left:0px;
	text-decoration: none;
	list-style:none;
	line-height:20px;
}

.sidebarMenu ul li a:hover{
	color:#515151;
}


#searchInput{
	height:24px;
	background-color: #f3f3f3;
	border:1px solid #dedede;
}

#searchButton{
	height:25px;
	background-color: #535353;
	border: 1px solid #3c3c3c;
	color:#fff;
	text-transform: uppercase;
	font-family: Cochin, Georgia, "Times New Roman";
	margin-left:10px;
	padding-left:5px;
	padding-right:5px;
}

.textwidget{
	padding-right:15px;	
}
.textwidget p {
	margin-top: 0;
	margin-bottom: 20px;
}

.sidebarImg{
	padding:3px;
	background-color:#FFFFFF;
	border:1px solid #dadada;
	float:left;
	margin-right:10px;
}

.sidebarPortfolio{
	overflow:hidden;	
	
}

.sidebarPortfolio a{
	float:left;
}

.sidebarPortfolio a img{
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}


/*-----------------------  FOOTER  ---------------------------*/

#footer{
	height:75px;
	width:100%;
	float:left;
	background-color:#e7e7e7;
	border:0px;
	border-top:1px solid #d5d5d5;
	margin:0px;
	padding:0px;
	position:relative;
}

#footer p{
	color:#222;
	font-size:12px;
	float:left;
}

#footerMenu{
	float:right;
}

#footerMenu ul{
	margin-top:15px;
	text-align:left;
	font-size:12px;
	color:#656565;
}

#footerMenu ul li{
	float:left;
	text-decoration: none;
	padding-left:15px;
	list-style:none;
}

#footerMenu ul li a{
	color:#222;
	text-decoration: none;
	font-size:13px;
}

#footerMenu ul li a:hover{
	color:#000;
}

/*---------------------------------------------------*/

#pp_full_res img{
	border:1px solid #828282;
}



/*---------------------------- CONTACT PAGE ----------------------------*/
.input{
	width:250px;
	height:20px;
	border:1px solid #ccc;
	background-color:#fff;
	padding-top:6px;
}

.textArea{
	height:205px;
	width:300px;
	padding-top:0px;
	font-family:Arial;
	font-size:12px;
	padding-top:8px;
	padding-bottom:8px;
}

.errorMessage{
	color:#cc0000;
}

/*----------------------------TABLES---------------------*/

table
{
	border:1px solid #d8d8d8;
	border-collapse:collapse;
	margin-top:20px;
	margin-bottom:20px;
}

td
{
	border:1px solid #d8d8d8;
	padding-left:0.4em;
	padding-right:0.5em;
	padding-top: 5px;
	padding-bottom: 5px;
}

td#today{
	background-color: #ededed;
}

th
{
	border:1px solid #d8d8d8;
	border:1px solid #d8d8d8;
	padding-left:10px;
	padding-right:10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ededed;
}

caption{
	margin-bottom:10px;	
	font-size:18px;
}

.errorMessage, #message{
	display:none;	
}

/*----------------------- Comments ---------------------------*/

p.commentTitle{
	font-size:22px;	
	margin-bottom:5px;
}

.commentContainer{
border:#d2d2ca 1px solid;
margin-top:20px;
background-color:#fff;
padding:0px;
width:600px;
}

ul.commentlist{
	margin-left:0px;	
}

.comentBox{

padding:20px;
width:555px;
min-height:140px;
position:relative;
}

.comentBox p{

margin-top:-5px;

}

.comentBox img{
margin-right:20px;
margin-bottom:10px;
margin-top:0px;
padding:4px;
background-color:#FFFFFF;
border:1px solid #d6d6d6;

}
.commentAutor{
float:left;
}

.adminRibbon{
	width:61px;
	height:62px;
	position:absolute;
	right:-8px;
	top:-2px;
	background-image: url(images/admin.png);
	background-repeat: no-repeat;
}

.ComentAutorName{
font-size:14px;

}

.commentDate{
font-size:14px;
position:absolute;
bottom:0px;
right:20px;
color:#999999;
}

.comentBoxAdmin{
background-color:#fff;
}

.commentNavigation{
	width:100%;
	float:left;
	height:50px;
	position:relative;
	margin-top:20px;
}



.commentInput{
	padding-top:4px;
	height:20px;
	width:250px;
	margin-bottom:15px;
}

.commentTextArea{
	width:350px;
	margin-bottom:15px;
}

.commentText{
	padding-top: 5px;
}


/*-----------------------  End Comments ---------------------------*/


/*-----------------UPDATES----------------*/

/*-----------------VERSION 1.1. -----------------*/

.postContent{
	margin-top:25px;
}

.commentDate a{
	text-decoration: none;	
}

.reply{
	float:left;	
	text-transform: uppercase;
}

.reply_icon{
	width:22px;
	height:22px;
	background-image: url(images/reply.png);
	background-repeat: no-repeat;
	float:left;
	margin-right:9px;
	margin-top:0px;
	margin-left:10px;
}

#commentContentContainer ul.children .reply_icon{
	display:none;	
}

#commentContentContainer ul.children .commentContainer{
	margin-top:20px;
	padding:0px;
	width:570px;
	margin-left:20px;
}

#commentContentContainer ul.children li{
	border-left:1px solid #ccc;	
	margin-top:-1px;
	padding-top:1px;
	margin-left:10px;
	padding-bottom:20px;
	margin-bottom:-20px;
	background-image: url(images/comment-reply-bg.jpg);
	background-repeat: repeat-x;
	background-position: center;
}

#commentContentContainer ul.children .comentBox{
	padding:20px;
	position:relative;
	width:525px;
}

ul.commentlist, ul.commentlist ul{
	margin-left:0px;	
	list-style: none;
}

#menu ul li ul li ul{
	top:-1px;
}

.attachment-post-thumbnail{
	float:left;
	padding:4px;
	background-color:#FFFFFF;
	border:1px solid #d6d6d6;
	margin-right:20px;	
}

.sidebarMenu ul li a{
	height:auto;
}

/* --------------------- BULLETS --------------------- */



ul.bullet_check li, div.bullet_check ul li{
	list-style:none;
	background:transparent url(images/bullets/check.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_numeric li, div.bullet_numeric ul li{
	list-style:none;
	list-style:decimal;
	padding-left:10px;
	margin-left:20px;
}

ul.bullet_lblue li, div.bullet_lblue ul li{
	list-style:none;
	background:transparent url(images/bullets/lblue.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_dblue li, div.bullet_dblue ul li{
	list-style:none;
	background:transparent url(images/bullets/dblue.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_ddblue li, div.bullet_ddblue ul li{
	list-style:none;
	background:transparent url(images/bullets/ddblue.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_brown li, div.bullet_brown ul li{
	list-style:none;
	background:transparent url(images/bullets/brown.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_dbrown li, div.bullet_dbrown ul li{
	list-style:none;
	background:transparent url(images/bullets/dbrown.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_green li, div.bullet_green ul li{
	list-style:none;
	background:transparent url(images/bullets/green.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_llblue li, div.bullet_llblue ul li{
	list-style:none;
	background:transparent url(images/bullets/llblue.gif) no-repeat 0 .2em;
	padding-left:20px;
}


ul.bullet_orange li, div.bullet_orange ul li{
	list-style:none;
	background:transparent url(images/bullets/orange.gif) no-repeat 0 .2em;
	padding-left:20px;
}

.imgLeft{
	float:left;
	margin-right:10px;
	line-height:0;
}

.imgRight{
	float:right;
	margin-left:10px;
	line-height:0;
}

.borderImg a{
	height:0px;
}

/*---------------COLUMNS----------------*/


#contentContainer .columns{
	position:relative;
	width:600px;
	float:left;
	padding-bottom:10px;
}

#fullPageContent .columns{
	width:960px;
}

#contentContainer .two_column_1{
	position:relative;
	width:280px;
	float:left;

}

#fullPageContent .two_column_1 {
	width:455px;
}

#contentContainer .two_column_2{
	position:relative;
	width:280px;
	margin-left:35px;
	float:right;
}

#fullPageContent .two_column_2 {
	width:455px;
}

#fullPageContent{
	padding-top:11px;
	padding-left: 30px;
	padding-right: 30px;
}


/*-------------MESSAGE BOXES-------------*/

.info_box, .note_box, .tip_box,.error_box,.tip_box{
 padding:20px;
 margin: 20px 0px;
 padding-left:55px;
 background:#eee;
 font-style:italic;
 text-shadow: none;
}

.info_box strong, .note_box strong, .tip_box strong,.error_box strong,.tip_box strong{
 font-style:italic;
}

.info_box{
 background:#f1fbfa url(images/icons/info.png) no-repeat scroll 10px 17px;
 border:1px solid #bedbdc;
 color:#1b5e61;
}
 
.note_box{
 background:#fffcea url(images/icons/note.png) no-repeat scroll 10px 17px;
 border:1px solid #f0dd6d;
 color:#9e660d;
}
.error_box{
 background:#ffede7 url(images/icons/error.png) no-repeat scroll 10px 18px;
 border:1px solid #d4768d;
 color:#d4768d;
 }
 
.tip_box{
 background:#ebfbee url(images/icons/tip.png) no-repeat scroll 10px 15px;
 border:1px solid #a0d1a9;
 color:#54a363;
 }
	
.big_letter{
	font-size: 36px;
	float:left;
	margin-right:5px;
	position:relative;
	top:2px;
}

blockquote{
	margin:20px;
	border-left:5px solid #d0d4d8;
	padding-left:25px;
	font-family: Cochin, Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	font-style:italic;
	line-height:1.5em;
	background: transparent url(images/quote.png) no-repeat scroll top left;
	background-position:top left;
}

.hihglight1{
	background-color:#CCFF33;
	border:1px solid #b1de2c;
	padding:2px;
	color:#000000;
	text-shadow: none;
}


.hihglight2{
	background-color:#FFCC33;
	border:1px solid #deaf22;
	padding:2px;
	color:#000000;
	text-shadow: none;
}

/*----------------NEW PORTFOLIO PAGE------------------*/

.portfolioItem2{
	width:300px;
	height:auto;
	float:left;
	position:relative;
	padding-left:30px;
}

.portfolioItem2 h3{
	margin-bottom:0px;
	margin-top:-15px;
}

.portfolioItem2 p{
	margin-top:0px;
}

.portfolioItem2 img{
	margin-bottom:10px;	
}

.portfolioItemsGroup{
	height:auto;
	width:990px;
	float:left;
	margin-left:-15px;
}

.portfolioItemTop2{
	background-color: #292929;	
	width:290px;
	height:190px;
	position:absolute;
	top:56px;
	left:35px;
	display:none;
}

.portfolioItemTop2 a.single_image{
	width:80px;
	height:80px;
	display:block;
	background-image: url(images/magnifier.png);
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:54px;
}

.portfolioItemTop2 a.video2{
	background-image: url(images/video2.png);
}

.borderImg{
	padding:0px;
	border-width:0px;
	background-color: transparent;
}

.borderImg img, img.borderImg{
	padding:4px;
	background-color:#FFFFFF;
	border:1px solid #dadada;
}


/* ADDED 2013_05_30 BY JH - RIGHT-COLUMN STYLES */

p.right-date {
	margin-bottom: 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}
p.right-title {
	color: #883021;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 8px;
	font-size: 1.2em;
}
p.right-info {
	line-height: 1.2em;
	margin-bottom: .8em;
}
.right-break {
	border-top: 1px solid #ccc;
}

.bio-date {
	text-align: right;
	vertical-align: top;
	font-size: 80%;
	letter-spacing: .1em;
	padding-left: 10px;
	color: #777;
}

/* ADDED February 7, 2014 by JH - Bio Page update */

.art-bio {
	margin-bottom: 100px;
}
.art-bio li {
	list-style: none;
	clear: both;
	padding-top: 25px;
	padding-right: 40px;
}
.art-bio li strong {
	display: inline;
	float: left;
	font-size: 125%;
}
.art-bio li div {
	display: inline;
	width: 80%;
	float: right;
}
.art-bio li div strong {
	font-size: 125%;
}