﻿#lineTop{
display:block;
height:2px;
margin:0px;
padding:0px;
font-size:2px;

}

#menu{
	height:15px;
	margin:auto;
	padding-top:20px;
}﻿

#sidebar{
	width:280px;
	height:100%;
	float:right;
}

.sidebarBox{
	width:260px;
	margin-left:8px;
	padding-right:0px;
}

.sidebarMenu ul li{
	padding-right:0px;
}

.sidebarTitile{
	width:357px;
	height:30px;
	background-repeat:no-repeat;
	text-align:center;
	position:relative;
	left:22px;
}

.sidebarMenu hr{
	width:310px;
	color:#f2f2f2;
}

.sidebarMenu{
	padding-left:10px;	
}

.sidebarPostInfo, .sidebarPostInfo a{
	float:left;
	padding:0px;
	margin:0px;
}

span.sidebarDate, span.sidebarDate a{
	width:150px;
}

.bubble{
	float:left;
	top:5px;
}

#menuContainer,#menu, #navigationContainer{
	position:relative;
	z-index:2;
}

#menu ul li ul{
	 top:44px;  
}

.sidebarMenu ul li ul{
	padding-left:0px;
}

.postBox{
	padding-left:20px;
}

.postBox .info{
	height:80px;
}

.postBoxs hr{
	margin-top:0px;
}

#portfolio{
	margin-left:-30px;
	width:1005px;
}

#portfolioCategories{
	margin-left:30px;
}

.servicesBoxs{
margin-top:25px;
}

.servicesBox{
margin-top:30px;
margin-bottom:30px;
}

#navButtons{
	margin-top:30px;
}

.sidebarPortfolio a img{
	margin-left:0px;
	margin-right:0px;
	padding-right:1px;
	border-width:0px;
}

#searchButton{
	padding-left:0px;
	padding-right:0px;
	
}

/*-----------------UPDATES----------------*/

/*-----------------VERSION 1.1. -----------------*/

#commentContentContainer ul.children li{
	padding-left:20px;
	margin-top:20px;
	
}

.portfolioItemsGroup{
	margin-left:0px;
}
